body {
  color: rgb(0, 0, 0);
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

}
.title {
   text-align: center;
    margin-top: 50px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-image: linear-gradient(to left, #a4a3a5, #ffffff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .subtitle{
     text-align: center;
     margin-top: 30px;
     margin-left: 50px;
     margin-right: 50px;
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 100;
     background-image: linear-gradient(to left, #a5a3a3, #ffffff);
     color: transparent;
     background-clip: text;
     -webkit-background-clip: text;
   }

   .text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    background-image: linear-gradient(to left, #a5a3a3, #ffffff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 50px;
    margin left: 20px;
  }

   .img{
    object-position: center;
    text-align: center;
    text-align: justify;
    margin-top: 30px;
    max-width: 400px;
    height: auto;
    float:center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .text2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    background-image: linear-gradient(to left, #a5a3a3, #ffffff);
    text-align:inherit;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 500px;
    margin left: 20px;
  }
 

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*footer*/
body{
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-menu{
  margin-bottom: 20px;
}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}


.footer-menu ul li a{
  color: #cfd2d6;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #fffb00;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
  text-align: center;
}
.footer-bottom p{
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#fffb00;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

@media (max-width:500px) {
  .footer-menu ul{
    display: inline;
  }
  .footer-menu ul li{
    margin-bottom: 20px;
  }
  }


/*navbar*/

  * {
    box-sizing: border-box;
  }
  
  body {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #000000;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }